head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
  | !{ livereloadScript}
  if env.mode == 'preview'
    link(rel="stylesheet", href="vendor/css-modal/build/modal.css")
    link(rel="stylesheet", href="vendor/owl-carousel/owl-carousel/owl.carousel.css")
    link(rel="stylesheet", href="vendor/owl-carousel/owl-carousel/owl.transitions.css")
  link(rel="stylesheet", href="styles/main.css")
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600")
  title= locals.title
  body
