section.modal--show.vid-modal#vid-modal(tabindex="-1", role="dialog", aria-labelledby="modal-label", aria-hidden="true")
  .modal-inner
    header.modal-label hi
    .modal-content hello

  a(href="#!", class="modal-close", data-close="Close" data-dismiss="modal") x
