.btn
  padding: 0.5em 1em
  text-decoration: none
  cursor: pointer
  font-weight: 500
  font-size: 14px
  text-transform: uppercase
  color: white
  border-radius: 3px
  background: #7EC8F2
  display: inline-block
