.contact
  background: blue
  color: white
  padding-leader: 3
  padding-trailer: 3
  text-align: center

.contact-inner
  center(960px)

  h1
    color: white

.location, .contact-form
  padding-leader: 2

.location
  col(5/12, offset: 1/12)

  +below(800px)
    center(400px)

  strong, span
    display: block

.location-address
  leader: 1
  letter-spacing: 0.05em

  a
    color: white

  strong
    font-weight: 500

  span
    adjust-font-size-to: 20px, 1.5
    font-weight: 200
    color: alpha(white, 70%)

.contact-form
  text-align: left
  col(4/12, offset: 1/12)

  +below(800px)
    stack()
    center(400px)

  input, textarea
    background: shade(blue, 30%)
    border-radius: 3px
    border: 0
    width: 100%
    adjust-leading-to: 1.5
    padding: 0 0.5em

  input[type="submit"]
    btn-secondary(white, blue)
    span(1/2, offset: 1/2)
    adjust-font-size-to: 18px, 0.5

// Abstract this out
.fields
  trailer(1)

  label
    display: block
    text-align: left
    text-transform: uppercase
    padding-trailer: 0.1, 14px
    adjust-font-size-to: 14px
    letter-spacing: 0.05em
    font-weight: 500

