.footer
  background: #1F1F1F

.footer-inner
  center(960px)
  padding-leader: 2, 12px
  padding-trailer: 1, 12px
  color: #767676
  adjust-font-size-to: 12px, 1
  letter-spacing: 0.05em

.footer-links
  col(1/4)

  ul
    list-style: none
    margin: 0
    padding: 0

  a
    display: block
    text-decoration: none
    color: inherit

.footer-heading
  text-transform: uppercase
  font-weight: 500
  color: blue
  letter-spacing: 0.1em
