hd-underline(color=gray, size=18px)
  &:after
    content: ""
    width: 30px
    display: block
    margin: 0 auto
    border-bottom-style: solid
    trailing-border: 4px, 1, size
    border-color: alpha(color, 30%)
