@import btn

.hero
  min-height: 500px

.hero-intro
  text-align: center

  +tablet()
    adjust-font-size-to: 14px

.hero-callout
  font-weight: normal
  adjust-font-size-to: 52px, 2
  letter-spacing: 0.04em
  text-align: center
  text-transform: uppercase
  font-family: Gotham-Medium

.hero-subline
  font-weight: normal
  adjust-font-size-to: 22px
  letter-spacing: 0.05em
  line-height: 0
  font-family: Gotham-Light

.hero-nav
  center(960px, 1em)
  padding-leader: 1
  padding-trailer: 5

.hero-logo, .hero-login
  col(1/2)

.hero-login
  text-align: right

.hero-login-btn
  @extend .btn
