.hero
  min-height: 600px
  background: url('../images/people-bg.jpg') center center no-repeat
  background-size: cover
  color: white
  position: relative

  *
    z-index: 3
    position: relative

  &:after
    z-index: 2
    left: 0
    top: 0
    right: 0
    bottom: 0
    position: absolute
    background: alpha(blue, 85%)
    content: ""
    pointer-events: none

.hero-intro
  text-align: center

  +tablet()
    adjust-font-size-to: 14px

.hero-callout
  font-weight: normal
  adjust-font-size-to: 52px, 2
  letter-spacing: 0.04em
  text-align: center
  text-transform: uppercase
  font-family: Gotham-Medium

.hero-subline
  font-weight: normal
  adjust-font-size-to: 22px
  letter-spacing: 0.05em
  line-height: 0
  font-family: Gotham-Light

.hero-nav
  center(960px, 1em)
  padding-leader: 1
  padding-trailer: 5

.hero-logo, .hero-login
  col(1/2)

.hero-login
  text-align: right

.hero-login-btn
  btn-secondary(#7EC8F2, #D4F0FF)
  rhythm: 0 0.25 0.25 0

.hero-cta
  center(400px)
  text-align: center
  padding-leader: 3

.hero-cta-btn
  btn(alpha(#212121, 0.9))
  &:hover
    background: black

