.hero
  min-height: 500px

.hero-intro
  text-align: center

.hero-callout
  font-weight: normal
  font-size: 48px
  letter-spacing: 0.04em
  text-align: center
  text-transform: uppercase
  line-height: 0.75
  font-family: Gotham-Medium

.hero-subline
  font-weight: normal
  font-size: 22px
  letter-spacing: 0.05em
  line-height: 0
  font-family: Gotham-Light
