// How it works section
.hiw
  padding: 5em 0
  margin: 5em 0
  background: white
  // edit()

.hiw-title
  font-size: 36px
  color: #329BE2
  letter-spacing: 0.06em
  text-transform: uppercase
  text-align: center

.hiw-referrer
  font-family: Gotham-Light
  font-size: 20px
  color: #585858
  letter-spacing: 0.06em
  center(960px)
  line-height: 1.5

.hiw-step
  col(1/3)
  text-align: center

  +tablet()
    stack(1em)
    margin-bottom: 1em

.hiw-step-title
  font-family: Gotham-Medium
  font-size: 22px
  color: #262626
  line-height: 26px
  letter-spacing: 1px
  text-transform: uppercase
  margin-bottom: 0.5em
