// How it works section
.how-it-works
  padding: 5em 0
  margin: 5em 0
  background: white

.how-it-works-title
  font-size: 36px
  color: #329BE2
  line-height: 43px
  letter-spacing: 0.06em
  text-transform: uppercase
  text-align: center
