.invite-modal
  adjust-font-size-to: 16px, 1.5

  .modal-inner
    background: blue
    color: white

  .modal-close
    btn-secondary(blue, white)
    &:after
      background: transparent

  label
    color: lighten(blue, 60%)

  .modal-label h2
    adjust-font-size-to: 18px
    font-weight: 500
    letter-spacing: 0.1em
    hd-underline(white)

  input
    background: shade(blue, 20%)
    border: 0
    adjust-font-size-to: 14px, 1.5
    width: 100%
    padding-left: 0.5em
    padding-right: 0.5em
    font-weight: 500
    letter-spacing: 0.05em

  input[type=submit]
    btn-secondary(white, blue, true)
    leader: 0.5
