.partners
  text-align: center
  padding-leader: 3
  padding-trailer: 3
  background: darken(white, 5%)

.partner-logos
  list-style: none
  padding-leader: 1

  li
    display: inline
    padding: 0 1em

    img
      vertical-align: middle
