@import '../node_modules/rupture/rupture'
@import 'mixins/settings'
@import '../vendor/normalize-styl/_normalize'
@import 'mixins/vertical-rhythm'
@import '../node_modules/jeet/stylus/jeet'
@import 'nib'
@import 'elements'

*
  box-sizing: border-box

body, input, textarea, table
  font-family: Gotham
  margin: 0
  padding: 0
  font-size: font-size
  line-height: base-line-height

h1
  font-weight: 500

a
  color: link-color
  &:hover
    color: melon

img
  max-width: 100%

.section-heading
  font-weight: 500
  text-transform: uppercase
  adjust-font-size-to: 18px
  color: #262626
  letter-spacing: 0.05em
