@import '../vendor/normalize-styl/_normalize'
@import '../node_modules/jeet/stylus/jeet'
@import 'nib'
@import '../node_modules/rupture/rupture'
@import 'elements'

*
  box-sizing: border-box

body
  background: #329BE2
  color: white
  font-family: Gotham
  margin: 0
  padding: 0

  +tablet()
    font-size: 90%

h1
  font-weight: 500
