extends layout

block content

  section.hero
    nav.hero-nav
      .hero-logo Peerbrief
      a.hero-login.btn(href="#") Log In

    header.hero-intro
      h1.hero-callout Get paid for who you know
      h2.hero-subline Invite friends, find them jobs, earn money.

  section.hiw
    h1.hiw-title How does it work?

    .hiw-referrer
      .hiw-step
        .hiw-step-title Step one
        | We’ll send you jobs that we think your friends can do. You refer the best candidates.
      .hiw-step
        .hiw-step-title Step two
        | If your friend gets the job, you get the cash! You’ll earn a referral fee of at least $1000.
      .hiw-step
        .hiw-step-title Step three
        | Build a team of headhunters. For every referral they make, we pay you 7.5%.

