extends layout

block content

  section.hero
    nav.hero-nav
      .hero-logo
        img(src="images/peerbrief-logo.png")
      .hero-login
        a.hero-login-btn(href="#") Log In

    header.hero-intro
      h1.hero-callout Get paid for who you know
      h2.hero-subline Invite friends, find them jobs, earn money.

    .hero-cta
      a.hero-cta-btn(href="#") Request your invite

  section.hiw
    h1.hiw-title How does it work?

    .hiw-referrer
      .hiw-step
        .hiw-step-title
          .hiw-img
            img(src="images/step-one-cartoon.png")
          | Step one
        | We’ll send you jobs that we think your friends can do. You refer the best candidates.
      .hiw-step
        .hiw-step-title
          .hiw-img
            img(src="images/step-two-cartoon.png")
          | Step two
        | If your friend gets the job, you get the cash! You’ll earn a referral fee of at least $1000.
      .hiw-step
        .hiw-step-title
          .hiw-img
            img(src="images/step-three-cartoon.png")
          | Step three
        | Build a team of headhunters. For every referral they make, we pay you 7.5%.

    .hiw-cta
      a.hiw-cta-btn(href="#") Get started
      a.hiw-learn-more(href="#") Want to learn more?

  section.employers
    h1.section-heading For employers
    p Use the power of crowdsourcing to find your staff. It's free to join and it's free to post jobs! You can also use PeerBrief to <a href="#">supercharge your internal referral programme.</a>

    .employer-cta
      a.employer-cta-btn(href="#") Sign up now

  section.partners
    h1.section-heading A few of our awesome partners

    ul.partner-logos
      each name in ['33talent-logo.png', 'adobe-logo.png', 'jobadvisor-logo.png', 'mycause-logo.png', 'redballoon-logo.png']
        li
          img(src="images/logos/#{name}")

  mixin team(name, pos)
    - var sanitisedName = name.toLowerCase().replace(/\s+/g, '')
    li.team-member
      img(src="images/team/#{sanitisedName}.jpg")
      .team-member-name!= name
      .team-member-position!= pos

  section.team
    h1.section-heading Meet the team

    ul.team-members
      +team('Rob Fanshawe', 'CEO')
      +team('Kristian Kauper', 'CTO')
      +team('Rajan Rauniyar', 'Back-end Developer')
      +team('Jayphen Simpson', 'UX/UI Design')
      +team('Luke Westland', 'Advisor')
      +team('Alex Kerr', 'Consultant')
      +team('Francis Coady', 'Head of Marcoms')

  section.contact
    .contact-inner
      h1.section-heading Contact us

      .location
        img(src="images/map.png")

        .location-address
          strong HQ
          span Level 2 Suite 201
          span 21 Oxford St
          span Darlinghurst, NSW 2010
          span P. +61 (0)2 8003 3186

      .contact-form
        .fields
          label(for="your-name") Your name
          input(type="text")
        .fields
          label(for="your-email") Email
          input(type="email")
        .fields
          label(for="message") What would you like to say?
          textarea(rows="3")

        .fields
          input(type="submit", value="Send")

  section.footer
    .footer-inner
      .footer-links
        img(src="images/peerbrief-logo.png", height="20")
        p PeerBrief is a revolutionary crowd sourcing referral platform that lets you earn cash from one of the most valuable assets you have — your network.
      .footer-links
        .footer-heading Company
        ul
          li
            a(href="#") Our Story
          li
            a(href="#") Meet the team
          li
            a(href="#") Contact us
          li
            a(href="#") Advisory
          li
            a(href="#") Partners
          li
            a(href="#") Blog
          li
            a(href="#") FAQ
      .footer-links
        .footer-heading Help
        ul
          li
            a(href="#") Become a referrer
          li
            a(href="#") Hire talent
          li
            a(href="#") How it works
          li
            a(href="#") PeerBrief enterprise
          li
            a(href="#") Support
          li
            a(href="#") Privacy Policy
          li
            a(href="#") Terms & Conditions
      .footer-links
        .footer-heading Members
        ul
          li
            a(href="#") Referrer Login
          li
            a(href="#") Employer Login
          li
            a(href="#") Browse Briefs
