extends layout

block content

  section.hero
    nav.hero-nav
      .hero-logo Peerbrief
      a.hero-login.btn(href="#") Log In

    header.hero-intro
      h1.hero-callout Get paid for who you know
      h2.hero-subline Invite friends, find them jobs, earn money.

  section.how-it-works
    h1.how-it-works-title How does it work?
