extends layout

block content

  section.hero
    nav.hero-nav
      .hero-logo
        img(src="/images/peerbrief-logo.png")
      .hero-login
        a.hero-login-btn(href="#") Log In

    header.hero-intro
      h1.hero-callout Get paid for who you know
      h2.hero-subline Invite friends, find them jobs, earn money.

    .hero-cta
      a.hero-cta-btn(href="#") Request your invite

  section.hiw
    h1.hiw-title How does it work?

    .hiw-referrer
      .hiw-step
        img(src="images/step-one-cartoon.png")
        .hiw-step-title Step one
        | We’ll send you jobs that we think your friends can do. You refer the best candidates.
      .hiw-step
        img(src="images/step-two-cartoon.png")
        .hiw-step-title Step two
        | If your friend gets the job, you get the cash! You’ll earn a referral fee of at least $1000.
      .hiw-step
        img(src="images/step-three-cartoon.png")
        .hiw-step-title Step three
        | Build a team of headhunters. For every referral they make, we pay you 7.5%.

    .hiw-cta
      a.hiw-cta-btn(href="#") Get started
      a.hiw-learn-more(href="#") Want to learn more?

  section.employers
    h1.section-heading For employers
    p Use the power of crowdsourcing to find your staff. It's free to join and it's free to post jobs! You can also use PeerBrief to manage your own internal referral programs.

    .employer-cta
      a.employer-cta-btn(href="#") Sign up now

  section.partners
    h1.section-heading A few of our awesome partners

    ul.partner-logos
      each name in ['33talent-logo.png', 'adobe-logo.png', 'jobadvisor-logo.png', 'mycause-logo.png', 'redballoon-logo.png']
        li
          img(src="/images/logos/#{name}")

  mixin team(name, pos)
    li.team-member
      img(src="/images/team/#{name.toLowerCase().replace(/\s+/g, '')}.jpg")
      .team-member-name!= name
      .team-member-position!= pos

  section.meet-the-team
    h1.section-heading Meet the team

    ul.team-members
      +team('Rob Fanshawe', 'CEO')
      +team('Kristian Kauper', 'CTO')
      +team('Rajan Rauniyar', 'Back-end Developer')
      +team('Jayphen Simpson', 'UX/UI Design')
      +team('Luke Westland', 'Advisor')
      +team('Alex Kerr', 'Consultant')
      +team('Francis Coady', 'Head of Marcoms')
